* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    background-color: #fc7d1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid yellow 8px; */
    width: 100%;
}

header{
    width: 100%;
}

main{
    flex-grow: 1;
}


.head{
    background-color: darkblue;
    color: white;
    height: auto;
}

.head label{
    height: 5vh;
}

.head form input[type="submit"] {
    width: 100%;
    padding: 1.2rem;
    
    background-color: darkblue;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.head form input[type="submit"]:hover {
    background-color: darkblue;
    transition: background-color 0.2s;
}

 .head div{
    background-color: grey;
    text-align: center;
    flex-grow: 1;
} 
.register {
    width: 400px;
    background-color: rgb(255, 255, 255,0.8);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 5em auto;
}
.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgb(222, 224, 228);
}

.register h2 {
    text-align: center;
    color: #5b6574;
    font-size: 20px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgb(222, 224, 228);
}

.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid rgb(222, 224, 228);
    margin-bottom: 20px;
    padding: 0 15px;
}

.register form input[type="file"]{
    background-color: white;
    color: grey;
    width: 310px;
    height: 50px;
    border: 1px solid rgb(222, 224, 228);
    margin-bottom: 20px;
    padding: 0 15px;
}

.register form label[for="tFileImagen"]{
    display: none;
}

.image{
    display: none;
}

.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: darkblue;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
    background-color: darkblue;
    transition: background-color 0.2s;
}

.errors{
    background-color: white;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

footer{
    width: 100%;
    background-color: darkblue;
    color: white;
    padding: 1.2rem;
    text-align: center;
}

